@charset "UTF-8";
.ch-table {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	border: 1px solid black;
}
.ch-table tr {
	border-bottom: 1ps solid #eee;
}
.ch-table tbody tr:nth-of-type(even) {
	background-color: #f1f1f1;
}
.ch-table tbody tr:nth-of-type(odd) {
	background-color: #fff;
} 
.ch-table tbody tr:hover {
	cursor: pointer;
	background-color: skyblue;
}
table {
	table-layout :  fixed;
}

table td {
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}