<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.images.persistance.BBsDao">

<!-- 
	insert 명령문을 실행하기 전에(before)
	seq를 생성하는 select문을 먼저 실행하고
	그 결과를 bbsVO의 b_seq변수에 담아라
 -->
	<insert id="insert" parameterType="BBsVO">
	<selectKey keyProperty="b_seq" resultType="Long" order="BEFORE">
		select seq_bbs.nextval from dual
	</selectKey>
		insert into tbl_bbs(
		    b_seq,
		    b_date,
		    b_time, 
		    b_writer, 
		    b_subject,
		    b_content
		    ) values (
		    #{b_seq},
		    #{b_date},
		    #{b_time}, 
		    #{b_writer}, 
		    #{b_subject},
		    #{b_content}
		)
	</insert>

	<select id="create_bbs_table">
        CREATE TABLE tbl_bbs(
			b_seq 		bigint 			PRIMARY KEY,
			b_date 		VARCHAR(10) 	NOT NULL,
			b_time 		VARCHAR(10) 	NOT NULL,
			b_writer 	VARCHAR(125) 	NOT NULL,
			b_subject 	VARCHAR(125) 	NOT NULL,
			b_content 	VARCHAR(1000) NOT NULL
		);
	</select>

</mapper>



