@charset "UTF-8";
/*
home.jsp 에 적용할 css
header, nav, footer 등의 설정
*/

header {
	padding: 1.2rem;
	text-align: center;
	background-color: navy;
	color: white;
	font-weight: 900;
}
nav {
	background-color: skyblue;
	color: white;
}
nav ul {
	list-style: none;
	display: flex;
}
nav li {
	padding: 3px 16px;
	margin: 15px;
	border-bottom: 5px solid transparent;
	font-weight: 900;
	font-size: 20px;
	
	transition : border 0.5s ease-out;
}
nav li:hover {
	cursor: pointer;
	border-bottom:white;
	color: navy;
}
/*
nav 등에 a 태그를 사용할때
보통 일반적인 tag는 부모 tag에 설정된 style을 상속받아
자연스럽게 구성이 된다
하지만 a태그는 font, color, text-style 등을  부모 tag로 부터
상속받지 않는다
항상 스스로의 모습만 고집하는 tag이다
a tag 에서는 text-decoration과 font 의 color 등을 자체적으로 설정을 해야한다
*/
a {
text-decoration: none;
}
/*
a tag의 color 를 자체적으로 설정할수 있지만
nav tag 와 함깨 사용할때는 nav 에서color를 설정하고
a tagg 에서는 nav 의 color를 강제로 상속받도록 설정한다

color : inherit

만약 nav의 color를 변경했을때 a tag
*/
nav a{
	color: inherit;
	white-space:  nowrap;
}